*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}
body {
  width: 100%;
  height: 100%;
  background-color: #dadbd5;
}
body::before{
  content: "";
  height: 127px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: -1;
  background-color: #009688;
}
p {
  color: #9e9e9e;
}
h4{
  color: #606060;
}
.user {
  width: 50px;
  height: 50px;
  background-color: #009688;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 15px;
}
.imgUtente {
  width: 28px;
}
.icon {
  padding: 0 10px;
}
.icon i {
  font-size: 20px;
  padding: 0 10px;
  color: #afafaf;
}
.dati-interlocutore {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#app {
  position: relative;
  margin: 1% 15%;
  background-color: white;
}
.top-bar {
  width: 100%;
  height: 60px;
  background-color: #ededed;
}
.top-bar-left {
  float: left;
  width: 30%;
  height: 60px;
  border-right: solid 1px #9e9e9e;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-bar-right {
  float: left;
  width: 70%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#left-bar {
  float: left;
  width: 30%;
  height: 640px;
  border-right: solid 1px #9e9e9e;
}
#attiva-notifiche {
  height: 100px;
  background-color : #9de1fe;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#attiva-notifiche .user{
  background-color : white;
}
.fa-bell-slash {
  font-size: 18px;
  color : #9de1fe;
}
#cercaUser {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #ededed;
  position: relative;
}
#cercaUser input {
  width: 95%;
  height: 80%;
  padding-inline-start : 40px;
  border: none;
  border-radius: 50px;
  color: #9e9e9e;
}
#cercaUser i {
  position: absolute;
  right: 90%;
  color: #9e9e9e;
}
.contatti {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.contatto {
 height: 80px;
 border-bottom: solid 1px #ededed;
 display: flex;
 align-items: center;
 justify-content: space-between;
 background-color: white;
}

#chat {
  float: left;
  width:70%;
  height: 790px;
  background-image: url(img/background.png);
  background-blend-mode: lighter;
  position: relative;
}
.messaggi {
  height: calc(100% - 90px);
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 30px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}
.invio-messaggi {
  height: 50px;
  background-color: #ededed;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 200;

}
#invio i {
  color: #9e9e9e;
  font: 20px;
}
#invio {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 0 40px;
}
#barraInvio {
  width: 90%;
  height: 75%;
  padding-inline-start : 20px;
  border: none;
  border-radius: 50px;
  color: #9e9e9e;
}

.stilerisposta {
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  align-self: flex-start;
  margin: 10px 0;
}
.stilemessaggio {
  border-radius: 5px;
  padding: 10px;
  background-color: #d5f9ba;
  margin: 10px 0;
}
