::-webkit-scrollbar {
  width: 7px;
 }
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-corner {
  background: rgba(255, 255, 255, 0.5);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  scrollbar-width: thin;
}
body {
  width: 100%;
  height: 100%;
  background-color: #dadbd5;
}
body::before{
  content: "";
  height: 127px;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: -1;
  background-color: #009688;
}
p {
  color: #9e9e9e;
}
h4, h6{
  color: #606060;
}
.user {
  width: 50px;
  height: 50px;
  background-color: #009688;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 15px;
}
.imgUtente {
  width: 52px;
}
.icon {
  padding: 0 10px;
}
.icon i {
  font-size: 20px;
  padding: 0 10px;
  color: #afafaf;
}
.dati-interlocutore {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#app {
  position: relative;
  margin: 1% 15%;
  background-color: white;
}
.top-bar {
  width: 100%;
  height: 60px;
  background-color: #ededed;
}
.top-bar-left {
  float: left;
  width: 30%;
  height: 60px;
  border-right: solid 1px #9e9e9e;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-bar-right {
  float: left;
  width: 70%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#left-bar {
  float: left;
  width: 30%;
  height: 80vh;
}
#attiva-notifiche {
  height: 15%;
  background-color : #9de1fe;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#attiva-notifiche .user{
  background-color : white;
}
.fa-bell-slash {
  font-size: 18px;
  color : #9de1fe;
}
#cercaUser {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  background-color: #ededed;
  position: relative;
}
#cercaUser input {
  width: 95%;
  height: 80%;
  padding-inline-start : 40px;
  border: none;
  border-radius: 50px;
  color: #9e9e9e;
  cursor: pointer;
}
#cercaUser i {
  position: absolute;
  right: 90%;
  color: #9e9e9e;
}
#contatti {
  width: 100%;
  height: 75%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
}
.contatto {
 height: 80px;
 border-bottom: solid 1px #ededed;
 display: flex;
 align-items: center;
 justify-content: space-between;
 cursor: pointer;
}
.contatto.active {
  background-color: #ededed;
}

#chat {
  float: left;
  width:70%;
  height: 80vh;
  background-image: url(img/background.png);
  background-blend-mode: lighter;
  position: relative;
}
.messaggi {
  height: calc(100% - 50px);
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 30px;
  flex-flow: column nowrap;
  align-items: flex-end;
  display: none;
}
.messaggi.active {
  display: flex;
}
.invio-messaggi {
  height: 50px;
  background-color: #ededed;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 200;

}
#invio i {
  color: #9e9e9e;
  font: 20px;
}
#invio {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 0 40px;
}
#barraInvio {
  width: 90%;
  height: 75%;
  padding-inline-start : 20px;
  border: none;
  border-radius: 50px;
  color: #9e9e9e;
  cursor: pointer;
}
.stilerisposta {
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  align-self: flex-start;
  margin: 10px 0;
  position: relative;
  padding-right: 28px;
}
.stilemessaggio {
  position: relative;
  border-radius: 5px;
  padding: 10px;
  padding-right: 28px;
  background-color: #d5f9ba;
  margin: 10px 0;
}
.info-messaggi {
  width: 150px;
  background: white;
  position: absolute;
  border-radius: 2px;
  top: 28px;
  right: 0px;
  z-index: 3;
  display: none;
  filter: drop-shadow(1px 9px 9px #c1c1c1);
}
.info-messaggi-ricevuti {
  width: 150px;
  background: white;
  position: absolute;
  border-radius: 2px;
  top: 28px;
  right: -92px;
  z-index: 3;
  display: none;
  filter: drop-shadow(1px 9px 9px #c1c1c1);
}
.delete-message span {
  font-size: 13px;
  padding: 5px;
  cursor: pointer;
  color: #9e9e9e;
}
.delete-message:hover {
  background-color: #9de1fe;
}
.info span {
  font-size: 13px;
  padding: 5px;
  cursor: pointer;
  color: #9e9e9e;
}
.info:hover {
  background-color: #9de1fe;
}
.fa-angle-down {
  position: absolute;
  top: 13px;
  right: 11px;
  z-index: 3;
  color: #9e9e9e;
  cursor: pointer;
  display: none;
}
.stilemessaggio:hover .fa-angle-down{
  display: block;
}
.stilerisposta:hover .fa-angle-down{
  display: block;
}
#message-time {
  position: absolute;
  top: 28px;
  right: 6px;
  font-size: 8px;
}
